@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --bg: #202530;
  --prim: #2e3541;
  --prim-dark: #181f26;
  --border: #9e9e9e;
  --categ-bg: #7f5539;
  --sec: #bb98b5;
  --sec-dark: #5c4556;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-family: 'Rubik', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.cont {
  margin-top: 5rem;
}

.todo {
  display: flex;
  align-items: center;
  background-color: var(--prim);
  width: 20rem;
  border-radius: 8px;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  box-shadow: 0px 5px 0px 0px var(--prim-dark);
}

.checkbox {
  color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.mid-cont {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: fit-content;
  align-items: center;
}

.todo-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-cont {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.title-cont .top,
.title-cont .bottom {
  display: flex;
  width: 100%;
}

.title-cont .bottom .filters {
  font-size: 0.9rem;
}

.add-btn {
  background-color: var(--sec);
  border-radius: 6px;
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 1.5em;
  height: 1.5em;
  margin-left: auto;
  box-shadow: 0px 5px 0px 0px var(--sec-dark);

  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--prim);
}
